<launch>
	<include file="$(find baxter_chess)/launch/ar_track.launch" />
	<include file="$(find baxter_moveit_config)/launch/move_group.launch" />
	<node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" output="screen" />
	<node name="baxter_chess" pkg="baxter_chess" type="control.py" output="screen" />
</launch>